---
page_title: "Docs overview"
subcategory: ""
---

The Anexia Cloud (anxcloud) provider is used to interact with any resources supported by the [Anexia Engine](https://engine.anexia-it.com/docs/).
To access the respective resources, the provider needs to be configured with credentials before it can be used.

You can get more information about ANEXIA on [our official website](https://anexia.com/en/).

## Authentication

Authentication can be done via the environment variable `ANEXIA_TOKEN` (**recommended**) or via the `token` attribute
on the provider. To generate the API token for usage with Terraform:

1. Login to the [Anexia Engine](https://engine.anexia-it.com).
2. In the top right corner, click on your display name to open the menu.
3. Select the entry "API".
4. In the newly opened page, enable *Token authentication*.

The Anexia Engine generates an API token which then can be used together with Terraform.

## Example Usage

{{tffile "examples/getting-started.tf"}}

{{ .SchemaMarkdown }}
