name: Code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GO111MODULE: on

jobs:
  go-lint:
    runs-on: ubuntu-latest
    container: golang:1.14-stretch
    steps:
      - uses: actions/checkout@v2
      - name: run linters
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint
          golangci-lint run --config .golangci.yml
          make fmtcheck
